<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/home.css')}}">

    <meta charset="UTF-8">
    <title>Home</title>
    {% if not champion %}
        <h1>Welcome {{ user }}!</h1>
    {% else %}
        <h1> Congratulations {{ champion }} won!</h1>
    {% endif %}
    
</head>
<body>
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <div class="form-group">
                    Pokemon 1: <input name='pokemon1'>
                    Pokemon 2: <input name='pokemon2'>
                    <input type="submit">
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>