<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% if not winner %}
        <h1>Welcome {{ user }}!</h1>
    {% else %}
        <h1> Congratulations {{ winner }} won!</h1>
    {% endif %}
    <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--A cross site, csrf token, malware protection-->
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.pokemon1.label(class="form-control-label") }}
                {{ form.pokemon1(class="form-control form-control-lg") }}
                {{ form.pokemon2.label(class="form-control-label") }}
                {{ form.pokemon2(class="form-control form-control-lg") }}
            </div>
        </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    </form>
    </div>
</head>
<body>

</body>
</html>