<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <h1>Login {{ user }}!</h1>
    <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--A cross site, csrf token, malware protection-->
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
        </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    </form>
    </div>
</head>
<body>

</body>
</html>